<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.sandradev.launcher" >
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Wallpaper" >
        <activity
            android:name=".HomeActivity"
            android:label="Sandromatic Launcher"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@style/Wallpaper.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AppListActivity"
            android:label="@string/title_activity_app_list"
            android:theme="@style/Wallpaper.NoActionBar" >
        </activity>

        <service
            android:name=".AppsService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".AppInfoActivity"
            android:label="@string/title_activity_app_info"
            android:parentActivityName=".AppListActivity"
            android:theme="@style/Wallpaper">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.sandradev.launcher.AppListActivity" />
        </activity>
        <activity android:name=".UnknownActivity"
                android:label="Unknown Activity">
                </activity>
    </application>

</manifest>
